<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<body>
    <div class="w1200">
        <div>
            <p>Linguist</p>
        </div>

        <form action="/translate" method="get">
            <div class="index">
                <label><span>英语</span></label>
                <label><span>法语</span></label>
                <button type="submit" value="Submit" style="font-color:white" onclick="trans();">翻译</button>
            </div>

            <div class="language">
                <textarea rows="20" cols="75" type="text" name="raw" id="rawLan">{{english}}</textarea>
                <textarea rows="20" cols="75" type="text" id="newLan" style="background-color: #f0f0f0;">{{french}}</textarea>
            </div>
        </form>

    </div>
</body>
<script src="../static/execute.js"></script>
</html>