<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
    <div class="w1200">
        <div>
            <p>Linguist</p>
        </div>

        <div class="index">
            <select class="now">
                <option value="cn" selected="selected">中文简体</option>
                <option value="en">中文繁体</option>
                <option value="en">英文</option>
                <option value="ja">日文</option>
            </select>

            <select class="target">
                <option value="cn">中文简体</option>
                <option value="cn">中文繁体</option>
                <option value="en" selected="selected">英文</option>
                <option value="ja">日文</option>
            </select>
            <button style="font-color:white">翻译</button>
        </div>

        <div class="language">
            <textarea rows="20" cols="75"></textarea>
            <textarea rows="20" cols="75" style="background-color: #f0f0f0;"></textarea>
        </div>

    </div>
</body>
</html>